@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cookTime {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 80px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.recipeTitle {
  color: #4b5563;
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.line {
  margin: 8px 0px;
  border: 1px solid #6c6c6c;
  border-radius: 5px;
}

.summaryContainer {
  font-size: clamp(0.75rem, 2vw, 0.8rem);
  color: #474747;
}

.recipeImage {
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -50px;
  right: 0;
  border: 4px solid #065f46;
  transition: transform 0.7s;
}

.recipeInformationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.recipeButton {
  border-radius: 15px;
  position: absolute;
  bottom: 25px;
  left: 50px;
  background-color: #065f31;
  color: white;
  font-style: italic;
  padding: 5px;
  font-size: 0.9rem;

  &:hover {
    background-color: #021d0f;
  }
  &:focus {
    background-color: #1de87f;
    color: rgb(255, 255, 255);
  }
}

.recipeFavoriteContainer {
  border-radius: 50%;
  width: 30px;
  position: absolute;
  bottom: 25px;
  right: 50px;
}

.recipeFavoriteContainer:hover {
  cursor: pointer;
  transition: width 0.3s ease;
}

@media (max-width: 350px) {
  .recipeFavoriteContainer {
    bottom: 50px;
    left: 20px;
  }
  .recipeButton {
    bottom: 30px;
    left: 20px;
    padding: 0px 0px;
    font-size: 0.9rem;
  }
  .cookTime {
    margin-top: 50px;
  }
  // .recipeImage {
  //   width: 80%;
  // }
}

@media (max-width: 250px) {
  .cookTime {
    margin-top: 5px;
  }
  .recipeTitle {
    font-size: 0.7rem;
  }
}

@media (max-width: 200) {
  .recipeButton {
    bottom: 15px;
    left: 0px;

    padding: 0px;
    font-size: 0.7rem;
  }
}
