@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courgette&family=DM+Serif+Display:ital@0;1&family=Mystery+Quest&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ccff66;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);

  background-color: #ede8dc;
  /* background-image: radial-gradient(at 47% 33%, #9ebc8a 0, transparent 59%),
    radial-gradient(at 82% 65%, #e1acac 0, transparent 55%),
    radial-gradient(at 20% 65%, #ffe99a 0, transparent 55%);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  font-family: Poppins;
  /* font-style: italic; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
